//Variáveis de cores do projeto:
$blue_light: #00afef;
$blue_intermediate: #1d5a82;
$blue_dark: #262642;
$pink_light: #ec268f;
$red_light: #e02023;
$orange_light: #f5821f;
$orange_dark: #db751b;

//Variáveis de tamanho das fontes do projeto: (fz = font-size)
$fz_xs: 0.8125rem; // 13px
$fz_sm: 0.9375rem; // 15px
$fz_df: 1rem; // 16px
$fz_lg: 1.25rem; // 20px
$fz_xl: 2rem; // 20px
