@use '@/styles/variables' as vars;

.header {
  width: 100%;
  height: 50px;
  background-color: vars.$blue_intermediate;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
}

.title {
  color: white;
  font-size: vars.$fz_lg;
  font-weight: 600;
}
