@use '@/styles/variables' as vars;

.title {
  color: vars.$orange_light;
  font-size: vars.$fz_xl;
  font-weight: 600;
}

.content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .text {
    color: vars.$orange_dark;
    font-size: vars.$fz_xl;
    font-weight: 700;
  }

  .button {
    background: vars.$orange_dark;
    color: white;
    font-size: vars.$fz_df;
    font-weight: 600;
    text-transform: uppercase;
    padding: 7px 20px;
    border-radius: 8px;

    &:hover {
      filter: brightness(1.2);
    }
  }
}
